<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Week Six.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39FCBC1D1EC69A360077EC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39FCBC311EC69A360077EC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39FCBC3C1EC69A360077EC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
